$base-color: #2C69B0;

.Home {
  background-color: $base-color;

  .Body {
    background-color: $base-color;
    height: 100%;


    .Logo-esquerdo {
      display: flex;
      width: 600px;
      height: 100%;
      align-items: first baseline;
      flex-direction: column;
      margin-left: 10px;


      img {
        width: 500px;
        height: 500px;
      }

      p {
        font-size: 18px;
        color: #fff;
        margin-top: 50px;
        font-style: italic;
        text-decoration: underline;
      }
    }

    .Logo-direito {
      display: flex;
      position: absolute;
      margin-left: 50%;
      width: 600px;

      img {
        width: 500px;
        height: 500px;
        margin-top: -440px;
        animation: mover-carro 5s infinite linear;
        background-color: transparent;

        @keyframes mover-carro {
          from {
            transform: translateX(0);
          }

          to {
            transform: translateX(150px);
          }
        }
      }
    }
  }
}